In [7]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [4]:
data = pd.read_csv('./data_processed/data_stats_.csv', index_col=0)
data.head()

,los,gender,age,heart_rate,respiratory_rate,hematocrit,rdw,platelet,mcv,mch,...,race_BLACK,race_HISPANIC/LATINO,race_OTHER,race_WHITE,marital_status_MARRIED,marital_status_SINGLE,marital_status_WIDOWED,insurance_Medicare,insurance_Other,icu_count
327,4.10571,1,73.210959,70.0,16.0,29.1,12.8,151.0,94.0,30.2,...,False,False,False,True,True,False,False,True,False,1
1022,1.96810,1,84.726027,70.0,19.0,31.2,15.3,192.0,82.0,27.7,...,False,False,False,True,True,False,False,True,False,1
896,4.87824,1,60.043836,90.0,37.0,38.1,16.9,16.0,93.0,30.7,...,False,False,True,False,True,False,False,True,False,1
908,5.04106,1,50.728767,89.0,20.0,26.1,15.4,77.0,86.0,31.0,...,False,True,False,False,False,True,False,False,False,1
559,1.37475,0,56.183562,43.0,17.0,29.6,12.7,274.0,92.0,31.9,...,False,False,False,True,True,False,False,False,True,1

In [8]:
grouped = data.groupby('die_in_icu')
stats = grouped.agg(['mean', 'std'])

results = {}
for col in data.columns:
    if col == 'die_in_icu':
        continue
    group0 = data[data['die_in_icu'] == 0][col].dropna()
    group1 = data[data['die_in_icu'] == 1][col].dropna()
    t_stat, p_val = ttest_ind(group0, group1)
    results[col] = {'t-stat': t_stat, 'p-value': p_val}
    
stat_diff = pd.DataFrame(results).transpose()
print(stats)
print(stat_diff)

                 los              gender                  age             \
                mean       std      mean       std       mean        std
die_in_icu
0           3.107160  4.204245  0.466599  0.499136  62.954711  15.687490
1           3.875328  5.641307  0.381295  0.487461  67.690234  13.782428

           heart_rate            respiratory_rate            ...  \
                 mean        std             mean       std  ...
die_in_icu                                                   ...
0           87.548583  19.509296        19.157895  5.602085  ...
1           93.302158  21.112760        19.913669  6.946464  ...

           marital_status_SINGLE           marital_status_WIDOWED            \
                            mean       std                   mean       std
die_in_icu
0                       0.336032  0.472589               0.119433  0.324462
1                       0.266187  0.443562               0.136691  0.344763

           insurance_Medicare           insurance_Other           icu_count  \
                         mean       std            mean       std      mean
die_in_icu
0                    0.443320  0.497029        0.475709  0.499663  2.349190
1                    0.618705  0.487461        0.330935  0.472252  2.107914


                 std
die_in_icu
0           3.026149
1           2.483834

[2 rows x 48 columns]
                          t-stat   p-value
los                    -1.924658  0.054524
gender                  1.891955  0.058754
age                    -3.379882  0.000750
heart_rate             -3.221876  0.001310
respiratory_rate       -1.442448  0.149454
hematocrit             -0.977846  0.328361
rdw                     0.387443  0.698501
platelet                0.053123  0.957643
mcv                    -1.313360  0.189329
mch                    -0.326294  0.744262
hemoglobin             -0.739469  0.459777
uc_only                -1.109549  0.267430
cd_only                 0.354593  0.722961
language_ENGLISH        0.991959  0.321431
race_BLACK              1.446271  0.148380
race_HISPANIC/LATINO    1.064780  0.287204
race_OTHER             -0.512478  0.608417
race_WHITE             -1.343633  0.179338
marital_status_MARRIED -1.246371  0.212888
marital_status_SINGLE   1.643511  0.100557
marital_status_WIDOWED -0.582541  0.560319
insurance_Medicare     -3.904392  0.000100
insurance_Other         3.219561  0.001321
icu_count               0.898295  0.369220

In [13]:
stats.transpose().to_csv('stat.csv')

In [15]:
stat_diff.to_csv('stat_diff.csv')