In [1]:
import numpy as np
import json
import os
import pandas as pd
import matplotlib.pyplot as plt

from utils import load_env_file, set_mpl_configs
from utils import leave_percentile, distribution_analysis

load_env_file()
set_mpl_configs()

DATA_DIR = os.getenv('DATA_DIR')
print('DATA_DIR: {}'.format(DATA_DIR))

load env file
  root dir:
    /Users/k/Repo/gp-ibd
  current system:
    Darwin
  load .env.darwin
  loaded data dir:
    /Users/k/Nutstore Files/毕设-EHR/DB
done.
set matplotlib configs
  font family:
    ['Times New Roman']
done.
DATA_DIR: /Users/k/Nutstore Files/毕设-EHR/DB

In [162]:
with open('../data/ibd_demo.json', 'r') as f:
    data = json.loads(f.read())
    
both_ibd_patients: list = data['both_ibd']
only_uc_patiens: list = data['only_uc']
only_cd_patients: list = data['only_cd']


df = pd.read_csv(os.path.join(DATA_DIR, 'Labevent','Labevents_Death.csv'))
df = df[df.subject_id != 12468016]
df.head()

/var/folders/lk/f71xxpxj0s5357hrf4g5qp400000gn/T/ipykernel_71320/4103536517.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(DATA_DIR, 'Labevent','Labevents_Death.csv'))

   subject_id  itemid        label value  valuenum valueuom  dod
0    10098672   51250          MCV    88      88.0       fL  NaN
1    10098672   51200  Eosinophils   1.5       1.5        %  NaN
2    10098672   51250          MCV    87      87.0       fL  NaN
3    10098672   51200  Eosinophils   0.3       0.3        %  NaN
4    10098672   51250          MCV    83      83.0       fL  NaN

In [163]:
lab_patients = df.subject_id.value_counts().index

寻找哪些 label 是所有人都做过的

In [164]:
tmp = df.groupby(['subject_id', 'label']).agg({
    'subject_id': 'count'
}).index.to_list()

res = pd.Series([_[1] for _ in tmp]).value_counts()

In [165]:
res[res > 2400]

White Blood Cells                2412
Hematocrit                       2412
Red Blood Cells                  2412
RDW                              2412
Platelet Count                   2412
MCV                              2412
MCHC                             2412
MCH                              2412
Hemoglobin                       2412
Glucose                          2409
Creatinine                       2407
Estimated GFR (MDRD equation)    2407
Urea Nitrogen                    2406
Sodium                           2402
Potassium                        2402
Chloride                         2402
Name: count, dtype: int64

In [170]:
for _label in res[res > 2400].index.tolist():
    print('='*100)
    ap = both_ibd_patients + only_cd_patients + only_uc_patiens
    for i ,_mode in enumerate([ap, both_ibd_patients, only_cd_patients, only_uc_patiens]):
        filter_condition = (df.subject_id.isin(_mode)) \
                                & (df.label == _label)
        if i == 0:
            print(df[filter_condition].valueuom.value_counts())
            print('-'*100)
        print('label: {}\nmode: {}'.format(_label, i))
        print(df[filter_condition].valuenum.describe()[1:3])
        print('- '*50)

====================================================================================================
valueuom
K/uL    370415
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: White Blood Cells
mode: 0
mean    8.615597
std     4.948404
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: White Blood Cells
mode: 1
mean    8.780767
std     4.724537
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: White Blood Cells
mode: 2
mean    8.546286
std     4.552827
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: White Blood Cells
mode: 3
mean    8.688134
std     5.699616
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
%    389042
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Hematocrit
mode: 0
mean    32.949824
std      6.080927
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hematocrit
mode: 1
mean    33.044846
std      5.706839
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hematocrit
mode: 2
mean    32.895273
std      6.136328
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hematocrit
mode: 3
mean    33.018302
std      6.106704
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
m/uL    369744
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Red Blood Cells
mode: 0
mean    3.762994
std     0.718944
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Red Blood Cells
mode: 1
mean    3.762708
std     0.691705
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Red Blood Cells
mode: 2
mean    3.794513
std     0.718148
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Red Blood Cells
mode: 3
mean    3.702516
std     0.726388
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
%    369724
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: RDW
mode: 0
mean    15.659436
std      2.376992
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: RDW
mode: 1
mean    15.247571
std      1.978811
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: RDW
mode: 2
mean    15.827665
std      2.399404
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: RDW
mode: 3
mean    15.487401
std      2.436265
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
K/uL    372394
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Platelet Count
mode: 0
mean    282.176981
std     158.701061
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Platelet Count
mode: 1
mean    312.996181
std     168.910195
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Platelet Count
mode: 2
mean    286.306534
std     153.833304
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Platelet Count
mode: 3
mean    263.002058
std     161.650217
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
fL    369744
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: MCV
mode: 0
mean    88.638643
std      8.167871
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCV
mode: 1
mean    88.742790
std      6.526242
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCV
mode: 2
mean    87.724084
std      8.550333
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCV
mode: 3
mean    90.358256
std      7.662825
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
%       287921
g/dL     81825
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: MCHC
mode: 0
mean    32.653514
std      1.665005
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCHC
mode: 1
mean    32.726980
std      1.619714
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCHC
mode: 2
mean    32.533953
std      1.639400
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCHC
mode: 3
mean    32.856361
std      1.708501
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
pg    369744
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: MCH
mode: 0
mean    28.953212
std      3.220951
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCH
mode: 1
mean    29.029274
std      2.582489
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCH
mode: 2
mean    28.550058
std      3.301947
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: MCH
mode: 3
mean    29.700188
std      3.138146
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
g/dL    377339
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Hemoglobin
mode: 0
mean    10.821673
std      2.181688
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hemoglobin
mode: 1
mean    10.888539
std      2.061913
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hemoglobin
mode: 2
mean    10.763874
std      2.209520
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Hemoglobin
mode: 3
mean    10.907445
std      2.167130
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mg/dL    395886
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Glucose
mode: 0
mean    121.840885
std      89.818284
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Glucose
mode: 1
mean    112.473667
std      77.822095
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Glucose
mode: 2
mean    119.620354
std      90.851742
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Glucose
mode: 3
mean    129.390908
std      91.233325
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mg/dL    369517
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Creatinine
mode: 0
mean    1.179023
std     1.155721
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Creatinine
mode: 1
mean    1.044546
std     0.817330
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Creatinine
mode: 2
mean    1.193582
std     1.139966
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Creatinine
mode: 3
mean    1.199777
std     1.280778
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
Series([], Name: count, dtype: int64)
----------------------------------------------------------------------------------------------------
label: Estimated GFR (MDRD equation)
mode: 0
mean   NaN
std    NaN
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Estimated GFR (MDRD equation)
mode: 1
mean   NaN
std    NaN
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Estimated GFR (MDRD equation)
mode: 2
mean   NaN
std    NaN
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Estimated GFR (MDRD equation)
mode: 3
mean   NaN
std    NaN
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mg/dL    361478
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Urea Nitrogen
mode: 0
mean    18.639926
std     16.592111
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Urea Nitrogen
mode: 1
mean    17.145953
std     13.986189
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Urea Nitrogen
mode: 2
mean    17.302387
std     14.923452
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Urea Nitrogen
mode: 3
mean    21.770949
std     19.798952
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mEq/L    356071
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Sodium
mode: 0
mean    138.022796
std       4.002259
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Sodium
mode: 1
mean    138.627536
std       3.549990
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Sodium
mode: 2
mean    138.027006
std       3.951843
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Sodium
mode: 3
mean    137.794078
std       4.224474
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mEq/L    360041
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Potassium
mode: 0
mean    4.108199
std     0.640818
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Potassium
mode: 1
mean    4.121326
std     0.642696
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Potassium
mode: 2
mean    4.086239
std     0.657998
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Potassium
mode: 3
mean    4.145333
std     0.604033
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
====================================================================================================
valueuom
mEq/L    354351
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
label: Chloride
mode: 0
mean    102.624249
std       5.149113
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Chloride
mode: 1
mean    103.312586
std       4.731999
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Chloride
mode: 2
mean    102.723710
std       5.198585
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
label: Chloride
mode: 3
mean    102.182382
std       5.162294
Name: valuenum, dtype: float64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [152]:
data = np.array(df[df['label'] == 'Glucose'].valuenum.dropna())

In [160]:
df[df.valuenum == 1276100]

         subject_id  itemid    label    value   valuenum valueuom  dod
187731     12468016   50809  Glucose  1276103  1276100.0    mg/dL  NaN
191703     12468016   50813  Lactate  1276103  1276100.0   mmol/L  NaN
230779     12468016   50809  Glucose  1276103  1276100.0    mg/dL  NaN
234751     12468016   50813  Lactate  1276103  1276100.0   mmol/L  NaN
273827     12468016   50809  Glucose  1276103  1276100.0    mg/dL  NaN
...             ...     ...      ...      ...        ...      ...  ...
8348540    12468016   50813  Lactate  1276103  1276100.0   mmol/L  NaN
8387616    12468016   50809  Glucose  1276103  1276100.0    mg/dL  NaN
8391588    12468016   50813  Lactate  1276103  1276100.0   mmol/L  NaN
8860537    12468016   50809  Glucose  1276103  1276100.0    mg/dL  NaN
8864509    12468016   50813  Lactate  1276103  1276100.0   mmol/L  NaN

[72 rows x 7 columns]