In [1]:
import pandas as pd

- df => icustays
- df2 => admissions
- df3 => patients

In [49]:
df = pd.read_csv('../data/icustays_ibd.csv')
df.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10303503,24975738,37900721,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2155-11-08 03:37:00,2155-11-08 11:13:00,0.316667
1,10303503,26778837,30774040,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2149-08-04 16:59:16,2149-08-05 23:19:24,1.263980
2,10303503,27308864,33780253,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2152-08-21 21:10:00,2152-08-23 20:15:03,1.961840
3,10509294,20374101,34569667,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2140-08-02 08:17:41,2140-08-04 00:41:05,1.682920
4,10509294,29267585,37833895,Trauma SICU (TSICU),Trauma SICU (TSICU),2137-06-07 19:44:56,2137-06-09 21:04:26,2.055210

In [28]:
df2 = pd.read_csv('../data/admissions_ibd.csv')

def parse_race(race):
    if 'WHITE' in race:
        return 'WHITE'
    elif 'BLACK' in race:
        return 'BLACK'
    elif 'HISPANIC' in race or 'LATINO' in race:
        return 'HISPANIC/LATINO'
    elif 'ASIAN' in race:
        return 'ASIAN'
    else:
        return 'OTHER'

df2['race'] = df2['race'].apply(parse_race)

df2['admittime'] = pd.to_datetime(df2['admittime']) # 入院时间
df2['dischtime'] = pd.to_datetime(df2['dischtime']) # 出院时间
df2['deathtime'] = pd.to_datetime(df2['deathtime']) # 死亡时间
df2['edregtime'] = pd.to_datetime(df2['edregtime']) # 入急诊时间
df2['edouttime'] = pd.to_datetime(df2['edouttime']) # 出急诊时间

df2

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10098672,21229395,2142-05-16 04:04:00,2142-05-23 14:15:00,NaT,EW EMER.,P30SZF,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2142-05-15 15:49:00,2142-05-16 05:45:00,0
1,10098672,21259834,2141-04-13 17:30:00,2141-04-17 19:17:00,NaT,EW EMER.,P77SO2,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2141-04-13 12:17:00,2141-04-13 18:47:00,0
2,10098672,21921527,2141-06-29 22:55:00,2141-07-03 16:52:00,NaT,URGENT,P816G0,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,NaT,NaT,0
3,10098672,24843492,2142-05-06 07:15:00,2142-05-11 13:39:00,NaT,SURGICAL SAME DAY ADMISSION,P857XC,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,NaT,NaT,0
4,10098672,26570321,2142-01-20 23:24:00,2142-01-28 18:47:00,NaT,EW EMER.,P95PIA,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2142-01-20 19:54:00,2142-01-21 01:07:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10605,16308779,27539941,2138-01-02 04:15:00,2138-01-04 16:35:00,NaT,EU OBSERVATION,P886Y0,EMERGENCY ROOM,NaN,Medicare,ENGLISH,WIDOWED,WHITE,2138-01-01 20:23:00,2138-01-02 04:51:00,0
10606,10556676,20224885,2167-04-16 15:33:00,2167-04-17 09:30:00,NaT,EU OBSERVATION,P76VMW,EMERGENCY ROOM,NaN,Other,ENGLISH,MARRIED,WHITE,2167-04-16 07:16:00,2167-04-17 09:30:00,0
10607,10556676,22783191,2164-02-12 04:35:00,2164-02-14 12:45:00,NaT,EW EMER.,P534S8,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,MARRIED,WHITE,2164-02-11 17:41:00,2164-02-12 05:11:00,0
10608,10556676,25577156,2163-10-31 21:05:00,2163-12-19 18:00:00,NaT,EW EMER.,P534S8,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Other,ENGLISH,MARRIED,WHITE,2163-10-31 18:28:00,2163-10-31 23:48:00,0
10609,14458834,29475856,2161-06-20 16:25:00,2161-06-26 15:30:00,NaT,EU OBSERVATION,P13ZKD,EMERGENCY ROOM,NaN,Medicare,ENGLISH,WIDOWED,WHITE,2161-06-20 13:01:00,2161-06-20 19:12:00,0

In [43]:
hadm_ids_dead = df2[df2['deathtime'] == df2['dischtime']]['hadm_id'] # admission 中死亡的 hadm_id

In [44]:
hadm_ids_dead.shape, hadm_ids_dead.unique().shape # 判断 103 是不是 unique

((103,), (103,))

In [45]:
df_dead = df[df['hadm_id'].isin(hadm_ids_dead)] # icu 事件就是死亡事件的记录
df_alive = df[~df['hadm_id'].isin(hadm_ids_dead)] # icu 事件不是死亡事件的记录

In [46]:
df['hadm_id'].unique().shape, df_dead['hadm_id'].unique().shape, df_alive['hadm_id'].unique().shape

((1161,), (84,), (1077,))

In [ ]:
# admissions 中有死亡事件记录
# icustats 中有死亡事件记录
# 推断: 死在 ICU
df2[df2['deathtime'] == df2['dischtime']][df2[df2['deathtime'] == df2['dischtime']]['hadm_id'].isin(df_dead['hadm_id'])].shape

In [ ]:
# admissions 中有死亡事件记录 
# icustats 没中有死亡事件记录
# 推断: 不是死在 ICU
df2[df2['deathtime'] == df2['dischtime']][~df2[df2['deathtime'] == df2['dischtime']]['hadm_id'].isin(df_dead['hadm_id'])].shape

In [ ]:
df3 = pd.read_csv('../data/patients_ibd.csv')
df3['anchor_year'] = df3['anchor_year'].apply(lambda x: pd.to_datetime('{}-01-01'.format(x)))
df3['dod'] = pd.to_datetime(df3['dod'])
df3.head()

In [47]:
# df2_dead = df2[df2['deathtime'] == df2['dischtime']] # admission 事件就是死亡事件
# df2_alive = df2[~(df2['deathtime'] == df2['dischtime'])] # admission 事件不是死亡事件

df2_dead = df2[~df2['deathtime'].isna()] # admission 事件就是死亡事件
df2_alive = df2[df2['deathtime'].isna()] # admission 事件不是死亡事件

df2.shape, df2_dead.shape, df2_alive.shape

((10610, 16), (111, 16), (10499, 16))

In [48]:
_ = df2[['subject_id', 'deathtime']].groupby('subject_id').last().reset_index()
__ = _[
    _['subject_id'].isin(
        df3[~df3['dod'].isna()]['subject_id']
    )
]

___ = __[~__['subject_id'].isin(df2_dead['subject_id'])]

___['subject_id'].shape # 269 dead not in hospital

NameError: name 'df3' is not defined

In [ ]:
tmp = df3[~df3['dod'].isna()]
tmp['d_age'] = (tmp['dod'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']

tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

In [ ]:
tmp = df2_dead.merge(df3, on='subject_id')
tmp['d_age'] = (tmp['deathtime'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']

tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

In [ ]:
tmp = df3[df3['subject_id'].isin(___['subject_id'])]
# tmp['d_age'] = (tmp['dod'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']

# tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

tmp['d_age'] = (tmp['dod'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']
tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

> admissions 和 icustays 两张表格

admissions 中一共有 103 个病人有死亡记录

- 其中 有 84 个病人是在 icustays 中有记录，暂且认为是死在了 ICU

- 另外 有 19 个病人不在 icustays 中有记录，暂且认为是死在了其他地方

In [ ]:
# 84 个死在 ICU 的平均死亡年龄
tmp = df2_dead[df2_dead['subject_id'].isin(df_dead['subject_id'])].merge(df3, on='subject_id')
tmp['d_age'] = (tmp['deathtime'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']

tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

In [ ]:
# 19 个不是死在 ICU 的平均死亡年龄
tmp = df2_dead[~df2_dead['subject_id'].isin(df_dead['subject_id'])].merge(df3, on='subject_id')
tmp['d_age'] = (tmp['deathtime'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']

tmp['d_age'].mean(), tmp['d_age'].std(), tmp['subject_id'].unique().shape

**惊奇的发现，死在了 ICU 的病人和 不是死在了 ICU 的病人的平均死亡年龄非常接近！**

分别是 70.99 岁和 70.85 岁

> Range: 683 个来过 ICU 的病人

| | 没死 | 死了 | 死在 ICU | 死在别的地方 |
|-| -- | --- | -------- | ------------- |
|人数| 588 | 95 |  84 | 11 |
| AVG LOS | 5.94 | 8.47   | 9.24 | 5.88 |

In [ ]:
stats = df.groupby('subject_id').agg({
    'los': ['count', 'sum']
}) # 用 df 标志进过 ICU

stats.columns = ['count', 'sum']
stats = stats.reset_index()

In [ ]:
stats['dead'] = stats['subject_id'].isin(df2_dead['subject_id'])
stats['dead_icu'] = stats['subject_id'].isin(df_dead['subject_id'])
stats.head()

In [ ]:
(
    stats[stats['dead']]['count'].shape,
    stats[~stats['dead']]['count'].shape,
    stats[stats['dead_icu']]['count'].shape,
    stats[~stats['dead_icu']]['count'].shape,
)

In [ ]:
(
    stats[stats['dead']]['count'].mean(),
    stats[~stats['dead']]['count'].mean(),
    stats[stats['dead_icu']]['count'].mean(),
    stats[~stats['dead_icu']]['count'].mean(),
)

In [ ]:
(
    stats[stats['dead']]['count'].std(),
    stats[~stats['dead']]['count'].std(),
    stats[stats['dead_icu']]['count'].std(),
    stats[~stats['dead_icu']]['count'].std(),
)

In [ ]:
(
    stats[stats['dead']]['sum'].mean(),
    stats[~stats['dead']]['sum'].mean(),
    stats[stats['dead_icu']]['sum'].mean(),
    stats[~stats['dead_icu']]['sum'].mean(),
)

In [ ]:
(
    stats[stats['dead']]['sum'].std(),
    stats[~stats['dead']]['sum'].std(),
    stats[stats['dead_icu']]['sum'].std(),
    stats[~stats['dead_icu']]['sum'].std(),
)

In [ ]:
tmp = df2.groupby('subject_id').first().merge(df3, on='subject_id')

tmp['first_age'] = (tmp['admittime'] - tmp['anchor_year']).dt.days / 365 + tmp['anchor_age']


(
    (tmp[tmp['subject_id'].isin(stats['subject_id'])]['first_age'].mean(), tmp[tmp['subject_id'].isin(stats['subject_id'])]['first_age'].std(), tmp[tmp['subject_id'].isin(stats['subject_id'])]['first_age'].shape),
    (tmp[~tmp['subject_id'].isin(stats['subject_id'])]['first_age'].mean(), tmp[~tmp['subject_id'].isin(stats['subject_id'])]['first_age'].std(), tmp[~tmp['subject_id'].isin(stats['subject_id'])]['first_age'].shape),
)

In [ ]:
(~tmp[~tmp['subject_id'].isin(stats['subject_id'])]['dod'].isna()).sum(), tmp[~tmp['subject_id'].isin(stats['subject_id'])]['dod'].isna().sum()

In [ ]:
for col in ['language', 'marital_status', 'race', 'insurance']:
    print('- total')
    print(df2[col].value_counts())
    print(df2[col].value_counts() / df2[col].value_counts().sum())
    print('- dead')
    # print(df2_dead[col].value_counts())
    # print(df2_dead[col].value_counts() / df2_dead[col].value_counts().sum())
    print()

In [ ]:
(
    (df2[['subject_id', 'deathtime']].groupby('subject_id').last().reset_index()['deathtime'].isna()).sum(),
    (~df2[['subject_id', 'deathtime']].groupby('subject_id').last().reset_index()['deathtime'].isna()).sum()
)

In [ ]:
df2[df2['deathtime'].isna()]['subject_id'].unique().shape

In [ ]:
(df3['dod'].isna()).sum()

In [ ]:
_ = df2[~df2['deathtime'].isna()]

(_['deathtime'] == _['dischtime']).sum(), (_['deathtime'] != _['dischtime']).sum()

In [ ]:
_[_['deathtime'] != _['dischtime']]